<!--Vine del item que he seleccionado del catalog-list y renderiza la info del item 
y la información del seller y el chat y la lista de los otros items que quiero  -->
<nav>
  <div>
      <h3>Handy Furny</h3>
  </div>
  <div>
      <ul>
          <li><a href="#">Home</a></li>
          <li><a href="/logout">Log Out</a></li>
          <li><a href="/catalog/new">New Product</a></li>
          <li><a href="/catalog/list">All Products</a> </li>

      </ul>
  </div>
</nav>
<h2>CHAT</h2>


<section class="chat">

    <div class="item-chat-container">
        
          <div>
            <img class="item-img-chat" src="<%= item.itemPic %>">
          </div>
          <div>
            <h2> <%=item.title%> $<%=item.price %></h2>
            <span class="item-category"><%= item.category %></span>
            <p> Description: <br> <%= item.description%></p>
          </div>
      
    </div>

   <div class="chat-form">
    
      <ul id="messages">
        <% if (doc!=undefined){%>
           <% doc.messages.forEach(m=>{%>
             <li><%=m%></li>
           <%})%>
        
        <%}else {%>
          <li></li>
          <%}%>
      </ul>
      <form class="form-chat"action="">
        <input class="form-chat-input"id="m" autocomplete="off" /><button class="form-chat-button">Send</button>
      </form>
    
    
  </div>




</section>


  

   <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
   <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
   <script type="text/javascript" src="javascripts/chat/firstchat.js"></script>
   <script>
     $(function () {
       var socket = io().connect('http://localhost:3000');
       $('form').submit(function(){
      
          var msgtoSocketIO={
           text:$('#m').val(),
           itemID:"<%=item._id%>",
           username1:"<%=user.username%>",
           user1_id:"<%=user._id%>",
           user2_id:"<%=item._creator._id%>"
         };

         console.log("entro a mandar la informacion")

    
 // enviando el mensaje
 //socket.emit("private", { msg:msgtoSocketIO, to: selected.text() });
        socket.emit('chat message',msgtoSocketIO);
         $('#m').val('');
         return false;
       });

//recibiendo el mensaje
        //socket.on("private", function(msg) {    
 //  $('#messages').append('<li class="private"><em><strong>'+ msg.from +' -> '+ msg.to +'</strong>: '+ msg.msg +'</em></li>');
       
       socket.on('chat message', function(msg){
      $('#messages').append($('<li>').text(msg));
        window.scrollTo(0, document.body.scrollHeight);
      });

        /*
    Message listener
  */
  $("#msg").keypress((e) => {
    if (e.which !== 13) {
      if (_typing === false && $('#msg').is(':focus')) {
        _typing = true;
        socket.emit('user typing', true);
        _timeout = setTimeout(resetTyping, 3000);
      } else {
        clearTimeout(_timeout);
        _timeout = setTimeout(resetTyping, 3000);
      }
    }
  });
  
 });
   </script>



