<nav>
    <div>
        <h3>Handy Furniture</h3>
    </div>
    <div>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="/logout">Log Out</a></li>
            <li><a href="/catalog/new">New Product</a></li>
            <li><a href="/catalog/list">All Products</a> </li>
            <li><a href="/user/<%=user._id%>">Profile</a> </li>
        </ul>
    </div>
</nav>
<div class="catalog">
    <section>
        <div>
            <h1>Discover the people who are selling furniture</h1>
        </div>
        <div class="nav-map">
            <form action="" method="post">
                <input id="search-box" type="text" name="where" placeholder="Search by zone">
            </form>
        </div>
        <div>
            <div id="map"></div>
        </div>
    </section>
    <section>
        <div class="new-items">

            <% if (items.length >= 10 ) { %>  
                
            <%  for (var i = 0; i < 10; i++) {%> 
            <div class="new-items-card">
                <p><%= items[i].created_at %></p>
                <img class="item-image" src="<%= items[i].itemPic %>">
                <a class="title" href="/catalog/<%= items[i]._id %>">
                <strong><%= items[i].title %></strong>
                </a>
                <span class="item-category"><%= items[i].category %></span>
                <div class="creator-info">
                <span><img class="user-profile-pic" src="<%= items[i]._creator.profilePic %>"><strong><%= items[i]._creator.username %></strong></span>
            </div>
            <% } %>
            <% } else {%>
            
                <%  items.forEach( item => {%> 
                    
                <div class="new-items-card">
                    <img class="item-image" src="<%= item.itemPic %>">
                    <a class="title" href="/catalog/<%= item._id %>">
                    <strong><%= item.title %></strong>
                    </a>
                    <span class="item-category"><%= item.category %></span>
                    <div class="creator-info">
                    <span><img class="user-profile-pic" src="<%= item._creator.profilePic %>"><strong><%= item._creator.username %></strong></span>
                </div>
                <%})%> 
            <%} %>  
        </div>
    </section>
</div>


<script type="text/javascript">
    var items = <%- JSON.stringify(items) %>;
</script>

<script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB141u84aG6yCZFhfNsd4CWj7lKdHmj8-k&libraries=places">
</script>

<script type="text/javascript" src="javascripts/map/autocomplete.js"></script>
<script type="text/javascript" src="javascripts/map/marks-items.js"></script>
<script type="text/javascript" 
src="javascripts/map/map.js"></script>


