<nav>
    <div>
        <h3>Handy Furny</h3>
    </div>
    <div>
        <input class"search-furny-value" id="search-furny-value" type="text" placeholder="type of furny">
        <input class="btn-search" id="search-furny-submit" type="submit" value="Search">
    </div>
    <div class="nav-li">
        <ul>
            <li class="active"><a href="/catalog">Home</a></li>
            <li><a href="/logout">Log Out</a></li>
            <li><a href="/catalog/new">New Product</a></li>
            <li><a href="/catalog/list">All Products</a> </li>
            <li><a href="/user/<%=user._id%>">Profile</a> </li>
        </ul>
    </div>
</nav>

    <div class="catalog">
        <section>
            <div>
                <h1>Discover the people who are selling furniture</h1>
            </div>
            <div class="nav-map">
                <form action="" method="post">
                    <input id="search-box" type="text" name="where" placeholder="Search by zone">
                </form>
            </div>
            <div>
                <div id="map"></div>
            </div>
        </section>
        <section>
                <h2>New furny</h2>
                <% if (items.length >= 10 ) { %>  
                <%  for (var i = 0; i < 10; i++) {%> 
                <div class="new-items-card">
                    <div class="item-image-box">
                        <img class="item-image" src="<%= items[i].itemPic %>">
                    </div>
                    <div class="item-info-box">
                        <a class="title" href="/catalog/<%= items[i]._id %>">
                        <strong><%= items[i].title %></strong>
                        </a>
                        <p class="item-category"><%= items[i].category %></p>
                
                        <img class="user-profile-pic" src="<%= items[i]._creator.profilePic %>">
                        
                        <a href="/user/<%= items[i]._creator._id %>"><%= items[i]._creator.username %></a>
                        
                    </div>  
                </div>
                <% } %>
                <% } else {%>
                
                    <%  items.forEach( item => {%> 
                    <div class="new-items-card">
                        <div class="item-image-box">
                            <img class="item-image" src="<%= item.itemPic %>">
                        </div>
                        <div class="item-info-box">
                            <a class="title" href="/catalog/<%= item._id %>">
                            <strong><%= item.title %></strong>
                            </a>
                            <p class="item-category"><%= item.category %></p>
                            <div class="item-user-info">
                                <img class="user-profile-pic" src="<%= item._creator.profilePic %>">
                            
                                <a href="/user/<%= item._creator._id %>"><%= item._creator.username %></a>
                            </div>
                        </div>  
                    </div>
                    <%})%> 
                <%} %>  
    
        </section> 
        
    </div>
    <div>
        <section class="search-furny">
            <h2>Your search:</h2>
        </section>
        <section id="result-search-furny">

        </section>
    </div>
<footer>
    <p>Handy Furny © | 2018</p>
</footer><!-- /footer -->
<script type="text/javascript">
    var items = <%- JSON.stringify(items) %>;
    var env = <%- JSON.stringify(enviroment) %>
</script>

<script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB141u84aG6yCZFhfNsd4CWj7lKdHmj8-k&libraries=places">
</script>

<script type="text/javascript" src="javascripts/map/autocomplete.js"></script>
<script type="text/javascript" src="javascripts/map/marks-items.js"></script>
<script type="text/javascript" src="javascripts/catalog/search-item.js"></script>

<script type="text/javascript" 
src="javascripts/map/map.js"></script>


