<!-- Renderiza el listado de los items que vendo con boton de chat_sell, edit y  delete 

Y el listado de los items que estoy comprando con boton de chat_buy y delete-->
<a class="home-button" href="/catalog">Home</a>
<h1>All Products</h1>
<div class="container">
    <% items.forEach((item) => { %>

      
          <div class="item-container">
            <div>
              <img class="item-image" src="<%= item.itemPic %>">
            </div>
            <div>
                <a class="title" href="/catalog/<%= item._id %>">
              <strong><%= item.title %></strong>
              </a>
              <h2>$ <%= item.price %>.00</h2>
           
              <span class="item-category">  <i> <%= item.category %></i></span>
              <div class="creator-info">
              <span>
                <img class="user-profile-pic" src="<%= item._creator.profilePic %>">
                <br>
                <a class="user-profile" href="/user/<%=item._creator._id%>">
                <strong><%= item._creator.username %></strong>
                </a>
              </span>
              </div>
            </div>
          </div>
          <% }) %>
      

</div>

  