

<nav>
    <div>
        <h3>Handy Furny</h3>
    </div>
    <div>
        <ul>
            <li><a href="/catalog">Home</a></li>
            <li><a href="/logout">Log Out</a></li>
            <li><a href="/catalog/new">New Product</a></li>
            <li><a href="/catalog/list">All Products</a> </li>
            <li><a href="/user/<%=user._id%>">Profile</a> </li>
        </ul>
    </div>
</nav>

<div class="creator-info">
  <a id="user-profile" href="/user/<%=item._creator._id%>">
    <h3><%= item._creator.username %></h3>
  </a>
  <span><img class="user-profile-pic" src="<%= item._creator.profilePic %>"></span>
</div>
  
<div class="item-container">
  <h3><%= item.title %></h3>
  <div>
    <div>
      <img class="item-image" src="<%= item.itemPic %>">
    </div>
    <div>
      <h2>$ <%= item.price %>.00</h2>
      <span class="item-category"><%= item.category %></span>
      <p> Description: <br> <%= item.description%></p>
      <!-- Contador para views, al hacer clic en el nombre del item debe aumentar uno -->
      <p> Views: <br> <%= item.views %></p>
    </div>
    <a class="chat-button" href="/chat/<%=item._id%>">Chat</a>
    <form action="/catalog/<%= item._id %>/delete" method="POST">
      <button type="submit">Delete Product</button>
    </form>
    <% if (toString(userId) === toString(item._creator._id)) {  %>  
    <a class="edit-item-button" href="/catalog/<%= item._id%>/edit">Edit your furny</a>
    <% } %>
  </div>
</div>

<div id="fb-root"></div>



<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.12&appId=841011936061948';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="fb-share-button" data-href="http://localhost:3000/catalog/<%=item._id%>" data-layout="button" data-size="small" data-mobile-iframe="false"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Flocalhost%3A3000%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Compartir</a></div>

<footer>
    <p>Handy Furny © | 2018</p>
</footer><!-- /footer -->