<nav>
    <div>
        <h3>Handy Furny</h3>
    </div>
    <div class="nav-li">
        <ul>
            <li><a href="/catalog">Home</a></li>
            <li><a href="/logout">Log Out</a></li>
            <li><a href="/catalog/new">New Product</a></li>
            <li><a href="/catalog/list">All Products</a> </li>
            <li class="active" ><a href="/user/<%=user._id%>">Profile</a> </li>
        </ul>
    </div>
</nav>
<div class="container">
  <div class="profile-info">
    <div>
        <img class="user-pic-xl" src="<%= user.profilePic %>">
        <div>
            <h2><%= user.username %></h2>
            <p><%= user.email%></p>
            <!-- <p>Current direccion: [<%= user.location.coordinates %>]</p> -->
            <div class="direction-user">
                <p>Direction: </p>
                <div id="map-dir"></div>
            </div>
            <% if (user.username === owner.username) {  %> 
            <a class="btn" href="/user/<%= user._id %>/edit">Edit your profile</a>
            
            <form action="/user/<%= user._id %>/delete" method="POST">
              <button class="btn-delete" type="submit">Delete User</button>
            </form>
            <% }%>
        </div>
        
    </div>
    
  
  </div>
 <!-- selling -->
<div class="buy-sell-mylist">

      <h3>I'm selling: </h3>
      <% if (items.length >= 1) {%>
      <% items.forEach( item => {%>
      <div class="furny-info">
        <div>
          <img class="resize item-image" src="<%= item.itemPic %>">
        </div>
        <div>
            <a class="title" href="/catalog/<%= item._id %>">
              <strong><%= item.title %></strong>
              </a>
              <p class="item-category">  <i> <%= item.category %></i></p>
              <div class="price"><b>$ <%= item.price %>.00</b></div>  
        </div>
      </div>
      <%}) %> 
      <%} else {%>
          <div></div>

      <%}%>
    </div>
  <!-- favorites -->

<div class="buy-sell-mylist">
    <% if (owner.favorite.length >= 1) {%>
      <h3>I'm interested in: </h3>
    <% owner.favorite.forEach( favorite => {%>
      <div class="furny-info">
          <div>
            <img class="resize item-image" src="<%= favorite.itemPic  %>">
          </div>
          <div>
              <a class="title" href="/catalog/<%= favorite._id %>">
                <strong><%= favorite.title %></strong>
                </a>
                <p class="item-category">  <i> <%= favorite.category %></i></p>
                <div class="price"><b>$ <%= favorite.price %>.00</b></div> 
                <a class="chat-button" href="/chat/<%=favorite._id%>">Chat</a> 
          </div>
        </div>
    <%})%>
    <%} else {%>
        <div>
        </div>
    <%}%>
 </div>
 <!-- review -->
 <div class="reviews-list">
    <h3>User Reviews!</h3>
    <a class="review-user-button" href="/review/<%= user._id %>/review">Post a new review</a>
  <div>
    <% if (reviews.length >= 1) {%>
    <% reviews.forEach( review => {%>
    <div>
      <img src="<%= review.itemPic %>">
      <h2><%= owner.username %></h2>
      <p><%= review.rate%></p>
      <p><%= review.description %></p>
    </div>
    <%}) %> 
    <%} else {%>
        <div>
        </div>
    <%}%>
  </div>
</div>
</div>  
</div>
<footer>
    <p>Handy Furny © | 2018</p>
    
</footer><!-- /footer -->
<script type="text/javascript">
  var user = <%-JSON.stringify(user)%>;

</script>
<script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB141u84aG6yCZFhfNsd4CWj7lKdHmj8-k&libraries=places">
</script>
<script type="text/javascript" 
src="/javascripts/map/map-dir.js"></script>