<nav>
    <div>
        <h3>Handy Furny</h3>
    </div>
    <div>
        <ul>
            <li><a href="/catalog">Home</a></li>
            <li><a href="/logout">Log Out</a></li>
            <li><a href="/catalog/new">New Product</a></li>
            <li><a href="/catalog/list">All Products</a> </li>
            <li><a href="/user/<%=user._id%>">Profile</a> </li>
        </ul>
    </div>
</nav>
  <div class="creator-info">
    <h2><%= user.username %></h2>
    <span><%= user.reviews %></span>
    <img class="user-profile-pic" src="<%= user.profilePic %>">
    <p><%= user.email%></p>
    <p>Current direccion: [<%= user.location.coordinates %>]</p>
  </div>
  <div class="container user-container">
    <div>
      
      <a class="edit-user-button" href="/user/<%= user._id %>/edit">Edit your profile</a>
      <form action="/user/<%= user._id %>/delete" method="POST">
        <button type="submit">Delete User</button>
      </form>
    </div>
</div>

<div class="sell-buy-mylist">
    <div>
      <h3>I'm selling: </h3>
      <% if (items.length >= 1) {%>
      <% items.forEach( item => {%>
      <div>
        <img src="<%= item.itemPic %>">
        <h2><%= item.title %></h2>
        <p><%= item.category %></p>
        <p>$ <%= item.price %>.00</p>
      </div>
      <%}) %> 
      <%} else {%>
          <div>
          </div>
      <%}%>
    </div>
</div>   

<div class="sell-buy-mylist">
  <div>
    <h3>I'm interested in: </h3>
    <% if (items.length >= 1) {%>
    <% items.forEach( item => {%>
    <div>
      <img src="<%= item.itemPic %>">
      <h2><%= item.title %></h2>
      <p><%= item.category %></p>
      <p>$ <%= item.price %>.00</p>
    </div>
    <%}) %> 
    <%} else {%>
        <div>
        </div>
    <%}%>
  </div>
</div>

<div class="reviews-list">
    <h3>User Reviews!</h3>
    <a class="review-user-button" href="/review/<%= user._id %>/review">Post a new review</a>
  <div>
    <% if (reviews.length >= 1) {%>
    <% reviews.forEach( review => {%>
    <div>
      <img src="<%= review.itemPic %>">
      <h2><%= owner.username %></h2>
      <p><%= review.rate%></p>
      <p><%= review.description %></p>
    </div>
    <%}) %> 
    <%} else {%>
        <div>
        </div>
    <%}%>
  </div>
</div>