<a class="home-button" href="/catalog">Home</a>
<a class="home-button" href="/catalog/list">All Products</a>
  <div class="creator-info">
    <h2><%= user.username %></h2>
    <img class="user-profile-pic" src="<%= user.profilePic %>">
    <p><%= user.email%></p>
    <p>Current direccion: [<%= user.location.coordinates %>]</p>
  </div>
  <div class="container user-container">
    <div>
      
      <a class="edit-user-button" href="/user/<%= user._id %>/edit">Edit your profile</a>
      <form action="/user/<%= user._id %>/delete" method="POST">
        <button type="submit">Delete User</button>
      </form>
    </div>
</div>

<div class="sell-buy-mylist">
    <div>
      <h3>I'm selling: </h3>
      <% if (items.length >= 1) {%>
      <% items.forEach( item => {%>
      <div>
        <img src="<%= item.itemPic %>">
        <h2><%= item.title %></h2>
        <p><%= item.category %></p>
        <p><%= item.price %></p>
      </div>
      <%}) %> 
      <%} else {%>
          <div>
          </div>
      <%}%>
    </div>
</div>
<div class="sell-buy-mylist">
  <div>
    <h3>I'm interested in: </h3>
    <% if (items.length >= 1) {%>
    <% items.forEach( item => {%>
    <div>
      <img src="<%= item.itemPic %>">
      <h2><%= item.title %></h2>
      <p><%= item.category %></p>
      <p><%= item.price %></p>
    </div>
    <%}) %> 
    <%} else {%>
        <div>
        </div>
    <%}%>
  </div>
</div>